{% extends "layout.html" %}
{% block content %}
<div class="w-100">
  <div class="row">
    <div class="col-lg-6 border">
      <img src="{{ url_for('download_upload_image', filename=input_img) }}"/>
      <p class="text-center">Original image</p>
    </div>
    <div class="col-lg-6 border">
      <img src="{{ url_for('download_output_image', filename=output_img) }}"/>
      <p class="text-center">Result image</p>
    </div>
  </div>
  <a href="/">
    <button type="button" class="btn btn-secondary">Back to homepage</button>
  </a>
</div>
{% endblock content%}
